<!doctype html>
<html lang="en">
  <head>a
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="/angular.min.js"></script>
</head>
  <body ng-app="myApp">
      <div class="container" ng-controller="lap8Ctrl" >
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-header">
                        header
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                          <label for="">Ho va ten</label>
                          <input type="text" ng-model="ten" name="" id="" class="form-control" placeholder="" aria-describedby="helpId">
                        </div>
                        <div class="form-group">
                            <label for="">Luong</label>
                            <input type="text" ng-model="luong" name="" id="" class="form-control" placeholder="" aria-describedby="helpId">
                        </div>
                        <div class="form-group">
                          <label for="">Gioi tinh</label> <br>
                            <input type="radio" name="phai" ng-model="phai" value="0" id="">Nam
                            <input type="radio" name="phai" ng-model="phai" value="1" id="">Nu
                        </div>
                        <div class="form-group">
                            <label for="">Độ tuổi</label>
                            <select class="form-control" ng-change="tinh()" ng-model="chonthuong"
                                ng-options="item as item.tuoi for item in listthuong" name="" id="">
                            </select>
    
                        </div>
                    </div>
                    <div class="card-footer text-muted">
                       Tien luong{{Tinh()}}
                    </div>
                </div>
            </div>
        </div>
      </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
  <script>
    var app = angular.module("myApp", []);
    app.controller("lap8Ctrl", function ($scope) {
        $scope.listthuong = [
                {
                    tuoi: "Dưới 25",
                    thuong: 0.07
                },
                {
                    tuoi: "Từ 25 đến 40",
                    thuong: 0.1
                },
                {
                    tuoi: "Trên 40",
                    thuong: 0.15
                }
            ]
        $scope.Tinh = () =>{
            $scope.sum = $scope.chonthuong.thuong * $scope.luong;
                if ($scope.phai == 1) {
                    $scope.sum += 200000
                }
                return parseInt($scope.sum);
            }
    })
  </script>
</html>             